

  <p class="body">
  <em><%= @post.body %></em>
  </p>
  <!-- Edit post -->
  <% if @post.user_id == session[:user_id] %>
   <%= link_to "Edit Post", edit_post_path %>
  <% end %>
  <!-- Delete post -->
  <% if @post.user_id == session[:user_id] %>
    <p><%= link_to 'Delete Post', post_path(@post),
                method: :delete,
                class: "button",
                data: {confirm: 'Are you sure you would like to delete this post?'} %></p>
  <% end %>
  <!-- add comments here -->
  <div id="comments">
    <!-- count the number of comments -->
    <h2 id="comments_form">
      <%= @post.comments.count %> 
      <% if @post.comments.count == 1 %>
        Comment 
      <% else %>
        Comments
      <% end %>
    </h2>
    <!-- this is grabbing _comments.html.erb -->
    <%= render @post.comments %>
    <!-- this is grabbing _form.html.erb -->
    <h3> Create comment: </h3>
    <%= render "comments/form" %> 
  </div>

</div>