<!DOCTYPE html>
<html>
  <head>
    <title>Tumblr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<h1>Welcome to Tumblr!</h1>  
  <nav>
    <!-- not sure how to use link_to syntax -->
    <a href="/">Home</a>
    <% if session[:user_id] %>
      <a href="/posts">All Posts</a>
      <a href="/posts/new">New Post</a>
      <a href="/users/signout">Sign Out</a>
    <% else %>
      <a href="/users/new">Sign Up</a>
      <a href="/users/signinform">Sign In</a>
    <% end %>
  </nav>
    <%= flash[:notice] if flash[:notice] %> 
    <%= flash[:error] if flash[:error] %>
    <%= flash[:alert] if flash[:alert] %>
  <body>
    <%= yield %>
  </body>
</html>
