<!DOCTYPE html>
<html>
  <head>
    <title>Tumblr</title
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag "tumblr.png" %>
  </head>

  <body>

  <nav>
    <!-- not sure how to use link_to syntax -->
    <% if session[:user_id] %>
      <div id="homenavin">
        <a href="/">Home</a>
        <a href="/posts">All Posts</a>
        <a href="/posts/new">New Post</a>
        <a href="/users/signout">Sign Out</a>
      </div>
    <% else %>
      <div id="homenavout">
        <!-- <a href="/">Home</a> --> <%= link_to 'Home', users_path %>
        <!-- <a href="/users/new">Sign Up</a>  --> <%= link_to 'Sign Up', new_user_path, :id => "yo" %>
        <a href="/users/signinform">Sign In</a>
      </div>
    <% end %>
  </nav>

  <%= fancy_title("Welcome to Tumblr!") %> 

    <div id="notice"><%= flash[:notice] if flash[:notice] %></div>
    <%= flash[:error] if flash[:error] %>
    <%= flash[:alert] if flash[:alert] %>
    <%= video_tag "clouds.mp4", autoplay: true, loop: true, :class => "fullscreen_bg" %>

    <%= yield %>
  </body>
</html>
